<table>
  <tr>
    <td> <%= inventory.tc_part %> </td>
    <td> <%= inventory.description %> </td>
    <td> <%= inventory.quantity_hand %> </td>
    <td> <%= inventory.manufacture %> </td>
    <td><%= link_to 'Show', inventory %></td>
    <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>
