<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @job.job_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Due by:</strong>
  <%= @job.due_by %>
</p>

<p>
  <strong>Created:</strong>
  <%= @job.created %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @job.priority %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

<br> materials
add material <%= link_to 'New Material', new_material_path %>
<p>
  <table>
    <thead>
      <tr>
        <th>Job</th>
        <th>part number</th>
        <th>Part Description</th>
        <th>Quantity used</th>
        <th>closet?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @materials.each do |material| %>
        <tr>
        <td><%= material.material_job %></td>
          <td><%= material.part_number %></td>
          <td><%= material.part_description %></td>
          <td><%= material.quantity_used %></td>
          <td><%= material.closet %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
