<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job %><br>
    <%= f.collection_select :material_job, Job.order(job_id: :asc), :job_id, :job_id, {prompt: true} %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br>
    <%= f.text_field :part_number %>
  </div>
  <div class="field">
    <%= f.label :part_description %><br>
    <%= f.text_area :part_description %>
  </div>
  <div class="field">
    <%= f.label :quantity_used %><br>
    <%= f.number_field :quantity_used %>
  </div>
  <div class="field">
    <%= f.label :closet %><br>
    <%= f.check_box :closet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
