<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @material.material_job %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @material.part_number %>
</p>

<p>
  <strong>Part description:</strong>
  <%= @material.part_description %>
</p>

<p>
  <strong>Quantity used:</strong>
  <%= @material.quantity_used %>
</p>

<p>
  <strong>Closet:</strong>
  <%= @material.closet %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
